<html>

<head></head>

<body style="width:100% !important; margin:0 !important; padding:0 !important; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; background-color:#FFFFFF;">
    <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="height:auto !important; margin:0; padding:0; width:100% !important; background-color:#FFFFFF; color:#222222;">
        <tr>
            <td>
                <div id="tablewrap" style="width:100% !important; max-width:600px !important; text-align:center !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important;">
                    <table id="contenttable" width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color:#FFFFFF; text-align:left !important; margin-top:0 !important; margin-right: auto !important; margin-bottom:0 !important; margin-left: auto !important; border:none; width: 100% !important; max-width:600px !important;">
                        <tr>
                            <td width="100%">
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                    Hello
                                    <%= model.username %>,
                                </p>
                                <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                    Congrats on signing up for HRMS! In order to activate your account please click the button below to verify your email address:
                                </p>
                                <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td width="100%" bgcolor="#ffffff" style="text-align:center;">
                                            <a style="font-weight:bold; text-decoration:none;" href="<%= verify %>">
                                                <div style="display:block; max-width:100% !important; width:93% !important; height:auto !important;background-color:#2489B3;padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px;border-radius:8px;color:#ffffff;font-size:24px;font-family:Arial, Helvetica, sans-serif;">
                                                    Activate Account
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%" bgcolor="#ffffff" style="text-align:center;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100%" bgcolor="#ffffff" style="text-align:center;">
                                            <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                If the button above doesn't work, paste the below link into your browser:
                                                <br /><a style="color:#2489B3; font-weight:bold; text-decoration:underline;" href="<%= verify %>">
                                                    <%= verify %>
                                                </a>
                                            </p>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                            <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">
                                                For additional help, please email us at kvhrmsteam@gmail.com

                                            </p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                            <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">

                                                Thanks!

                                            </p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="100%" bgcolor="#ffffff" style="text-align:left;">
                                            <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:19px; margin-top:0; margin-bottom:20px; padding:0; font-weight:normal;">

                                                HRMS Team.
                                            </p>

                                            <p style="color:#222222; font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; margin-top:0; margin-bottom:15px; padding:0; font-weight:normal;">
                                                &copy;Copyright 2017 Human Resource Management System. All Rights Reserved.
                                            </p>

                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>