extends layout

block content
  html
   head
    style.
      input[type=text], input[type=password],input[type=email] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
    title Register - demo
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/signupjs.js')
   body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Emotion Detection Application
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li.active
            a(href='/signin') Login
          li
            a(href='/signup') Signup
    .container
      h1 Register
      legend  Register 
      form(method= "post" , action="signup/send" )
        label
          b Username: 
        input#name(type='text', name='name', placeholder='Enter your full name')
        br
        label
          b Email: 
        input#email(type='email', name='name', placeholder='Enter your email address')
        br
        label
          b Password: 
        input#password(type='password', name='password', placeholder='Enter Password')
        br
        label
          b Confirm: 
        input#passwd(type='password', name='password', placeholder='Re-Enter Password')
        br
        button#loginbtn.btn.btn-success(type='submit', name='lbtn') Login
