<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Forgot Password</h4>
  <div class="card-block">
    <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotpassword()">
      <div class="input-group">
      <span class="help-block">
      Email address you use to log in to your account
      <br>
      We'll send you an email with instructions to choose a new password.
      <br>
      </span>
      </div>
       <div class="input-group" [ngClass]="setClassEmail()">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="email">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!forgotpasswordForm.valid"><i class="fa fa-sign-in"></i> Send</button>
    </form>
  </div>  
</div>